


    <%= simple_form_for [chat, Message.new], html: { class: "message" } do |f| %>
      <%= form_error_notification(message) %>
      <%= f.input :content, wrapper_html: { class: "content" } %>
      <div class="line-item__actions">
        <%= f.submit "Send Message", class: "btn btn--secondary" %>
      </div>
    <% end %>

 







