<%= simple_form_for [user, chat, message],
                    html: { class: "message" } do |f| %>

  <%= form_error_notification(message) %>

 
  <%= f.input :content,
              wrapper_html: { class: "content" } %>
  

  <div class="line-item__actions">
   
    <%= f.submit class: "btn btn--secondary" %>
  </div>
<% end %>


