<%= form_with(model: @message, url: messages_path, local: true) do |form| %>
  <%= form.hidden_field :chat_id, value: @chat_id %>

  <div class="field">
    <%= form.text_area :content, placeholder: "Enter your message", rows: 2 %>
  </div>
  
  <div class="actions">
    <%= form.submit "Send" %>
  </div>
<% end %>


   
       
