<div id="<%= dom_id(@chat) %>_messages">
  <% @chat.messages.each do |message| %>
    <% if message.assistant_message? %>
      <li class="assistant-message">
        <%= message.content %>
      </li>
    <% else %>
      <li class="user-message">
        <%= message.content %>
      </li>
    <% end %>
  <% end %>
</div>

