<%= turbo_frame_tag 'chat-details' do %>
  <div id="chat-details">
    <% if chat %>
      <div class="bg-white rounded-lg shadow-md w-full max-w-md">
        <div class="bg-gray-800 rounded-t-lg p-4">
          <h2 class="text-white text-xl font-semibold">Chat</h2>
        </div>

        <div class="p-4">
          <ul role="list" class="overflow-y-auto max-h-[48vh] flex flex-col-reverse space-y-2 space-y-reverse divide-y divide-gray-200" data-target="chat.messages">
            <% if chat.messages.present? %>
              <%= render chat.messages.reverse %>
            <% else %>
              <li>No messages yet</li>
            <% end %>
          </ul>
        </div>

        <div class="bg-gray-100 rounded-b-lg p-4">
          <%= render partial: "messages/form", locals: { chat: chat } %>
        </div>
      </div>
    <% else %>
      <% if @chat %>
        <p>Select a chat to view</p>
      <% else %>
        <p>Create a chat to view</p>
      <% end %>
    <% end %>
  </div>
<% end %>

<% console %>