@tailwind base;
@tailwind components;
@tailwind utilities;

#messages {
  overflow-y: auto;
  max-height: calc(100vh - 16rem);
}

.typing-loader {
  display: inline-block;
  width: 7px;
  height: 16px;
  background-color: #000;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.dark {
  background-color: #1e1e1e;
  color: #fff;
  padding: 10px;
  /* Dodatni stilovi codema potrebi */
}



